<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title%></title>
</head>
<body>
    <%- include ('partials/navigation') %>
    
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card bg-dark text-white text-center">
            <div class="card-header">
                <h3>Contact me</h3>
                <div class="card-body text-start">
                    <form>
                        <div class="mb-3">
                            <label for="nombre">Nombre</label>
                            <input type="nombre" placeholder="Escriba tu Nombre" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="email">Email</label>
                            <input type="email" placeholder="Escriba tu Email" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label for="mensaje">Mensaje</label>
                            <textarea name="mensaje" class="form-control" placeholder="Escriba tu consulta"></textarea>
                        </div>
                        <button class="btn btn-primary btn-block">
                            Enviar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include ('partials/footer') %>
</body>
</html>