<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
        <title>
            <%= title%>
        </title>
</head>

<body>
    <%- include('partials/navigation')%>

        <div class="container d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-4 d-flex justify-content-center fw-bold pt-5">Testimonios</h1>
            <p class="fw-bold">Nuestros clientes han experimentado los beneficios de trabajar
                con InnovateTech Solutions. Aquí tienes algunos testimonios que reflejan la calidad y el
                impacto de nuestros servicios:</p>
            <div class="row row-cols-2 row-cols-md-3 g-4 pt-3 pb-5" style="display: flex; align-items: center; justify-content: center;">
                <div class="col">
                  <div class="card">
                    <img src="/img/stars.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Smart INC</h5>
                      <p class="card-text">"La colaboración con InnovateTech Solutions ha sido excepcional. Han superado
                        nuestras expectativas en términos de calidad, tiempo de entrega y atención al cliente".</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card">
                    <img src="/img/stars.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Solutions Developers</h5>
                      <p class="card-text">"El equipo de nuestra empresa desde que usa los servicios de innovatech
                        hace mejores trabajos y en cuanto eficiencia una grandisima diferencia positiva."</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-cols-2 row-cols-md-3 g-4 pt-3 pb-5" style="display: flex; align-items: center; justify-content: center;">
                <div class="col">
                    <div class="card">
                      <img src="/img/stars.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Dsoft INC</h5>
                        <p class="card-text">"Recomendaría a InnovateTech Solutions a cualquier empresa que busque soluciones
                          tecnológicas de vanguardia. Su enfoque en la innovación y la calidad es impresionante".</p>
                      </div>
                    </div>
                  </div>
                <div class="col">
                    <div class="card">
                      <img src="/img/stars.jpg" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">SmartTick</h5>
                        <p class="card-text">"El equipo de InnovateTech Solutions comprendió perfectamente nuestras necesidades
                          y nos brindó una solución personalizada que ha mejorado."</p>
                      </div>
                    </div>
                  </div>
              </div>
        </div>
        <%- include('partials/footer.ejs')%>
</body>

</html>


  